extends layout

block content
  h1 #{title}

  form(method='POST' action='')
    div.form-group
      label(for='workoutType') Workout Type:
      select#workoutType.form-control(type='select' placeholder='Workout Type' name='workoutType')
        option(value='Tabata') Tabata
        option(value='Rounds in time') Rounds in time
        option(value='Drop Reps') Drop Reps
    div.form-group  
      label(for='exercise') Exercise:
      select#exercise.form-control(type='select' placeholder='Select exercise' name='exercise' required='true')
        for exercise in exercises
          if exercise
            option(value=exercise._id selected=(exercise.name.toString()==exercise._id.toString() ? 'selected' : false)) #{exercise.name}
          else
            option(value=exercise._id) #{exercise.name}
      label(for='equipment') Equipment:
      select#equipment.form-control(type='select' placeholder='Select Equipment' name='equipment' required='true')
        for equipment in equipments
          if equipment
            option(value=equipment._id selected=(equipment.name.toString()==equipment._id.toString() ? 'selected' : false)) #{equipment.name}
          else
            option(value=equipment._id) #{equipment.name}
      //- label(for="sets") Sets:
      //- input#weight.form-control(type='text', placeholder='Add sets' name='sets' value=(undefined===workoutSession ? '' : workoutSession.sets))
      label(for="reps") Reps:
      input#weight.form-control(type='text', placeholder='Add reps' name='reps' value=(undefined===workoutSession ? '' : workoutSession.reps))
      label(for="weight") Weight:
      input#weight.form-control(type='text', placeholder='Add weight' name='weight' value=(undefined===workoutSession ? '' : workoutSession.weight))
    div.form-group
      label(for="sessionComments") Comments:
      input#comments.form-control(type='text', placeholder='Add comments' name='sessionComments' value=(undefined===workoutSession ? '' : workoutSession.sessionComments))
    button.btn.btn-primary(type='submit') Submit

  if errors 
    ul
      for error in errors
        li!= error.msg